name: Build and Publish

on:
  push:
    # 只在推送到 main 分支时触发
    branches:
      - main
  # 同时保留手动触发的能力
  workflow_dispatch:

jobs:
  build:
    name: Build distributions
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install pypa/build
      run: python -m pip install build --user

    - name: Build binary wheel and source tarball
      run: python -m build --sdist --wheel --outdir dist/ .

    - name: Upload distribution artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-distribution-files
        path: dist/
        if-no-files-found: error
